doctype html
html(ng-app="wikiwash", lang="en", ng-class="{'is-under': $root.showModal}")
  include ./partials/head

  body(ng-class="{'is-under': $root.showModal}")
    include ./partials/analytics

    .content(app-view-segment="0")
